.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-subtitle,
.home__data-title,
.home__social-link,
.home__info {
  color: var(--white-color);
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__data-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.home__social-link {
  width: max-content;
  font-size: 1.2rem;
}

.home__info {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
}

.home__info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__info-button {
  font-size: var(--smaller-font-size);
}

.home__info-overlay {
  overflow: var(--img-hidden);
}

.home__info-img {
  width: 145px;
  transition: var(--img-transition);

  &:hover {
    transform: var(--img-scale);
  }
}

@media screen and (max-width: 340px) {
  .home__info {
    width: 190px;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr 0.5fr;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }

  .home__info {
    bottom: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-rows: 2fr 0.5fr;
  }

  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  .home__info-title {
    font-size: var(--normal-font-size);
  }

  .home__info-img {
    width: 240px;
  }
}
