::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: var(--scroll-thumb-color);

  &:hover {
    background-color: var(--text-color-light);
  }
}
