.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  z-index: var(--z-tooltip);
  display: flex;
  opacity: 0.9;
  padding: 0.5rem;
  background-color: var(--first-color);
  transition: 0.4s;

  &:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
  }
}

.scrollup--show {
  bottom: 5rem;
}

.scrollup__icon {
  color: var(--white-color);
}
